/* HamburgerMenu.module.css */

.headerContainer {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  align-self: flex-start;
  margin-left: 0; /* 确保 Logo 没有左边距 */
}

.button {
  align-self: flex-end;
  background-color: #ff7f00; /* 橘红色背景 */
  border: none;
  cursor: pointer;
  height: 80px; /* 调整为正方形的大小 */
  width: 80px;  /* 调整为正方形的大小 */
  margin-right: 0; /* 移除右边距 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  overflow: visible;
}

.line {
  background-color: white;
  height: 5px;
  width: 30px; /* 调整横线的长度 */
  transition: all 0.3s ease;
}

.line1 {
  transform-origin: center;
}

.line2 {
  margin: 5px 0;
}

.line3 {
  transform-origin: center;
}

.open .line1 {
  transform: translateY(10px) rotate(45deg);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  transform: translateY(-10px) rotate(-45deg);
}

/* Modal样式 */
.modalContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; /* 全黑色背景 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* 如果内容超出屏幕，允许滚动 */
}

/* Modal中的ul样式 */
.modalContent ul {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
  margin-left: 60px;
  text-align: left; /* 文字左对齐 */
  font-weight: 700;
  width: 100%; /* 宽度为100% */
}

/* Modal中的li样式 */
.modalContent li {
  margin: 10px 0;
  font-size: 3rem;
  cursor: pointer;
  color: white; /* 字体颜色为白色 */
}

/* Modal中的div样式 */
.modalContent div {
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 20px; /* 已存在的样式，保持不变 */
  text-align: left; /* 已存在的样式，保持不变 */
  padding-top: 20px; /* 为 div 添加上边距，与 ul 之间有一定距离 */
}

/* Modal中的p样式 */
.modalContent p {
  border-bottom: 2px solid white; /* 添加白色的底部边框 */
  color: white; /* 字体颜色为白色 */
  padding-bottom: 10px; /* 使边框与文本之间有一定的距离 */
  margin-bottom: 10px; /* 为每个 p 元素添加底部外边距，使它们之间有间距 */
}
